@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#main-section {
  margin: 3rem;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.text-section {
  margin: 0 1.5rem;
}

.description {
  font-size: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
