@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  position: relative;
}

#main-section {
  margin: 3rem;
}

body::before {
  content: "";
  background: url(images/pattern-curve.svg) no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 30rem;
}

.card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.text-section {
  margin: 0 1.5rem;
}

.text-section::before {
  content: "";
  background: url(images/pattern-quotes.svg) no-repeat;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 5rem;
  left: 10rem;
}

.description {
  font-weight: 300;
  color: var(--Dark-Blue);
  font-size: 2rem;
}

.name {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.user-name {
  font-weight: 700;
  margin-right: 1rem;
  color: var(--Dark-Blue);
}

.user-position {
  color: var(--Grayish-Blue);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
